
<h3 style="color: rgb(92,106,106);background-color: rgb(240, 230, 229);box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); border-radius: 5px; width:230px; border-bottom: 3px solid #D1AEAD;">
    今日即時匯率
</h3>



<div> 

    <table style="background-color: rgb(240, 230, 229);box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); border-radius: 5px;">
        <thead>
            <tr style=" text-align: left; color: rgb(92,106,106);">
                <th >貨幣代碼</th>
                <th >現金匯率 (賣出)</th>
            </tr>
        </thead>
        <tbody style=" text-align: left; color: rgb(96,93,84);">
            {% for exchange_rate in exchange_rates %}
                {% if exchange_rate.currency != 'TWD' and exchange_rate.rate != 0 %}  <!-- 排除台幣 -->
                    <tr>
                        <td>
                            <a href="#" hx-get="{% url 'pages:rate_history' exchange_rate.currency %}" hx-target="#rate-content" style="
                                color: #5C6A6A; 
                                font-weight: bold;"
                                onmouseover="this.style.color='#802A2A';" 
                                onmouseout="this.style.color='#5C6A6A';" 
                                title="查看匯率最近三個月走勢圖">
                                {{ exchange_rate.currency }} ({{ exchange_rate.currency_zh }})
                            </a>

                        </td>
                        <td>
                           
                                {{ exchange_rate.rate }} <!-- 顯示匯率 -->
                           
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>

    </table>
    <div style=" color: rgb(81,31,30);">※請注意: 本表資料僅供參考，<br>不代表實際交易匯率。</div>
    <div style=" color: rgb(81,31,30);">※資料來源: 台灣銀行</div>
</div>

