{% extends "layouts/base.html" %}

{% block content%}

<h1>專案名稱: 即時匯率地圖</h1>



    <h2>專案說明</h2>
    <p>
        這是一個即時匯率查詢和匯率換算工具，能在地圖上顯示有告牌匯率的國家。
        使用者可以方便地查看該國匯率，並且當游標移至某國時，即時顯示該國的匯率資訊。
    </p>

    <h2>使用技術</h2>
    <ul>
        <li><strong>前端</strong>：HTML、CSS、HTMX</li>
        <li><strong>後端</strong>：Django、爬蟲、Geopandas</li>
    </ul>

    <h2>專案架構與技術說明</h2>
    <ul>
        <li><strong>後端</strong>：
            <ul>
                <li><strong>Python + Django</strong>：作為 API 服務，用於處理爬蟲、資料處理和匯率計算。</li>
                <li><strong>爬蟲框架</strong>：使用 BeautifulSoup 或 Scrapy 從台灣銀行抓取每日匯率資料，確保資料的準確性和即時更新。</li>
                <li><strong>地圖框架</strong>：Geopandas 是基於 Pandas 的資料處理工具，並具備地理空間數據處理功能。使用 GeoDataFrames 來儲存和管理地理空間資訊。</li>
            </ul>
        </li>
    </ul>

    <h2>功能亮點</h2>
    <ul>
        <li><strong>地圖互動性</strong>：當游標移動到某國家區域時，自動顯示該國的匯率，提升使用者體驗和查詢的便利性。</li>
        <li><strong>即時匯率換算</strong>：使用 HTMX 即時運算匯率換算結果，無需重新整理頁面即可看到不同幣別間的即時轉換結果。</li>
    </ul>

    <h2>部署尚未完成 (待序)</h2>

{% endblock %}