<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <title>exchange rate</title>
    <script>
        document.addEventListener("htmx:afterOnLoad", (event) => {
            const responseText = event.detail.xhr.responseText;
            try {
                const response = JSON.parse(responseText);
                document.getElementById("result").value = response.results ?? 0;
            } catch (error) {
                console.error("JSON parse error:", error, "Response Text:", responseText);
            }
        });
    </script>
 
</head>
<body>
    {%include 'shared/navbar.html' %}
    {% block content%}
    {% endblock %}
</body>
</html>