<div >
    <a href="{% url 'pages:index'%}" style="
        color: #5C6A6A; /* 莫蘭迪灰綠 */
        text-decoration: none; 
        margin-right: 15px;
        font-weight: bold;
    "
    onmouseover="this.style.color='#802A2A';"  /* 懸停變化 */
    onmouseout="this.style.color='#5C6A6A';">
        即時匯率地圖
    </a>
    <a href="{% url 'pages:about'%}" style="
        color: #5C6A6A; /* 莫蘭迪灰綠 */
        text-decoration: none; 
        font-weight: bold;
    "
    onmouseover="this.style.color='#802A2A';"  /* 懸停變化 */
    onmouseout="this.style.color='#5C6A6A';">
        關於這個小專案
    </a>
</div>
